* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #f49303;
}
.content-title {
  font-size: 4rem;
  text-align: center;
  color: white;
}
.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
  width: 70%;
  height: 80vh;
  background-color: white;
  border-radius: 25px;
}
